footer.player-bar
    .now-playing
        .now-cover ☀️
        .now-info
            h4 Nắng Ấm Xa Dần
            p Mỹ Tâm

    .controls
        .control-btns
            button.ctrl-btn ⏮
            button.ctrl-btn ⏪
            button.play-btn ▶
            button.ctrl-btn ⏩
            button.ctrl-btn ⏭

        .progress-area
            span.time-label 1:18
            .progress-bar
                .progress-fill
            span.time-label 3:45

    .extra-controls
        .vol-area
            .vol-bar
                .vol-fill