extends ../../layout/default.pug
include ../../mixin/box-head.pug

block content
    main(class="main")
        .topbar
            div
                div(class="greeting") Danh sách thể loại 🎧
                div(style="font-size:0.85rem;color:var(--brown);margin-top:4px")
                    | Khám phá âm nhạc theo sở thích của bạn

        section
            div(class="section-title") 🎼 Thể loại phổ biến

            div(class="featured-grid")
                each item in topic
                    div(class="featured-card")
                        div(class="card-note") #{item.icon}
                        div(class="card-info")
                            h3= item.name
                            p= item.description